{% extends 'base.html.twig' %}

{% block body %}

    <div class="card" style="width: 18rem;">
        je suis l'artcile
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
            <a href="{{ path('app_posts') }}" class="card-link">Return</a>
            <a href="{{ path('app_post_edit', {id:post.id}) }}" class="card-link">Edit</a>
            <form method="post" action="{{ path('app_post_delete', {'id': post.id}) }}" onsubmit="return confirm('Are you sure you want to delete this post?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete_post_' ~ post.id) }}">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
{% endblock %}

